@model IEnumerable<UserControlUI.ModelsDTO.Noti>

@{
    ViewData["Title"] = "AllNotifications";
}

<h1>AllNotifications</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotiHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotiBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotiHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotiBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReadSt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateSt)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  }) |
                @if (!string.IsNullOrEmpty(item.Url))
                {
                    @Html.ActionLink("Goto", "Goto", new { url = item.Url })
                }
            </td>
        </tr>
}
    </tbody>
</table>
