@model  IEnumerable<IEnumerable<UserControlUI.ModelsDTO.DocumentDTO>>

@{
    ViewData["Title"] = "Index";
    var docListOfLists = Model.ToList();
}

<h1>List of documents</h1>

@*Project Admin or PM*@
@if (User.IsInRole("Admin") || User.IsInRole("PM") || User.IsInRole("Developer"))
{
    <p>
        <a asp-controller="Document" asp-action="Create">Upload New File</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UploadedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UpdatedByUserName)
            </th>
            <th>
                Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => doc.First().Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => doc.First().Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => doc.First().Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => doc.First().UploadedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => doc.First().UpdatedByUserName)
            </td>
            <td>
                V(@doc.Count())
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = doc.First().Id })
                |

                @*Project Admin or PM*@
                @if (User.IsInRole("Admin") || User.IsInRole("PM"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = doc.First().Id, name = doc.First().Name, type = doc.First().Type })
                    { <text> | </text> }
            }
            @*Developer*@
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = doc.First().Id, name = doc.First().Name, type = doc.First().Type })
                    { <text> | </text>}
            }

                @Html.ActionLink("Dwonload", "Dwonload", new { id = doc.First().Id })


            </td>

        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Back Home</a>
</div>
