@model IEnumerable<UserControlUI.ModelsDTO.DocumentDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>List of documents</h1>

@*Project Admin or PM*@
@if (User.IsInRole("Admin") || User.IsInRole("PM") || User.IsInRole("Developer"))
{
    <p>
        <a asp-controller="Document" asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedByUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => doc.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doc.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doc.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doc.UploadedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doc.UpdatedByUserId)
                </td>
                <td>
                    @*Project Admin or PM*@
                    @if (User.IsInRole("Admin") || User.IsInRole("PM"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = doc.Id, name = doc.Name, type = doc.Type })
                        { <text>|</text> }
                }
                @*Developer*@
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = doc.Id, name = doc.Name, type = doc.Type })
                        { <text>|</text>}
                }

                    @Html.ActionLink("Dwonload", "Dwonload", new { Id = doc.Id, Name = doc.Name, Type = doc.Type, Status = doc.Status, UploadedDate = doc.UploadedDate, UpdatedByUserId = doc.UpdatedByUserId, Content = doc.Content })
                    

                </td>

            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Back Home</a>
</div>
