@model IEnumerable<UserControlUI.ModelsDTO.DocumentDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>List of documents</h1>

<p>
    <a asp-controller="Document" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedByUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => doc.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doc.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doc.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doc.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doc.UploadedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doc.UpdatedByUserId)
                </td>
               
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Back Home</a>
</div>
